name: GitHub CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: 'bash -o errexit -o nounset -o pipefail {0}'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [jdk11, jdk11-alpine, jdk11-focal, jdk17, jdk17-alpine, jdk17-focal, jdk20, jdk20-alpine, jdk17-graal, jdk17-focal-graal, jdk20-graal]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build
        env:
          version: ${{ matrix.version }}
        run: |
          cd "${version}"
          baseImage=$(grep "FROM " Dockerfile | cut -d' ' -f2)
          docker pull "${baseImage}"
          docker build --tag "gradle:${version}" .
      - name: test
        env:
          version: ${{ matrix.version }}
          expectedGradleVersion: "7.6.3"
        run: |
          if [[ "${version}" =~ "graal" ]]; then
            cd test-graal
          else
            cd test
          fi
          ./run.sh "gradle:${version}" "${expectedGradleVersion}"
